<!-- views/partials/footer.ejs -->

<footer>

<div class="grid-container-full">
    <div class="footer1">
        <h2>bageriet</h2> <br>
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec nunc lorem. Nulla vel neque non lectus dictum condimentum. Pellentesque blandit elit ut odio congue dapibus. Integer eget ipsum ullamcorper risus gravida dictum nec et magna. In magna nisl, pharetra eu volutpat quis, bibendum non ex.</h5>
    </div>
    <div class="footer2">
        <h5>Copyright 2017 bageriet aps</h5>
    </div>
</div>

</footer>

</body>
</html>