<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/cookie.js"></script>
</head>

<body>

<header>

<div class="grid-container-full">
    <div class="header1">
        <nav id="nav-header">
            <ul> 
               <li><a href="/">FORSIDE</a></li>
               <li><a href="/kategorier">PRODUKTER</a></li>
               <h2>bageriet</h2>
               <li><a href="/kontakt">KONTAKT</a></li>
               <li><a href="/login">LOGIN</a></li>
           </ul>
         </nav>
    </div>
</div>

</header>

    