<link rel="stylesheet" href="/assets/css/login.css">

<div class="grid-container">
<section class="login1">
    <div>
      <label for="username">Brugernavn:</label>
      <input type="text" name="username" id="username">        
    </div>
    <div>
      <label for="password">Adgangskode:</label>
      <input type="password" name="password" id="password">        
    </div>
    <div>
      <a class="link" href="/">
      <button type="button" id="login">Login</button>
    </a>
    </div>
  </section>
</div>

  <script src="/assets/js/login.js"></script>